<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="2.13.0307" targetFramework="net45" />
  <package id="LiteGuard" version="1.1.0" targetFramework="net45" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5" targetFramework="net45" />
  <package id="Rebex.Common" version="5.0.7244" targetFramework="net45" />
  <package id="Rebex.Networking" version="5.0.7244" targetFramework="net45" />
  <package id="Rebex.Telnet" version="5.0.7244" targetFramework="net45" />
  <package id="Rebex.Terminal" version="5.0.7244" targetFramework="net45" />
</packages>